div.results {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  div.topContainer {
    width: 300px;
    display: flex;
    justify-content: flex-end;

    opacity: 0%;
    animation: fullView 1.5s forwards ease-in;
    p.topAcro {
      font-size: 40px;
    }
  }

  p.or {
    padding: 30px;
    opacity: 0%;
    animation: fullView 1.5s forwards ease-in;
    animation-delay: 1s;
  }

  div.otherContainer {
    display: grid;
    grid-template-columns: 150px 150px;
    opacity: 0%;
    animation: fullView 1.5s forwards ease-in;
    animation-delay: 2s;
  }
}

@media only screen and (max-width: 720px) {
  div.results {
    flex-direction: column;
    padding-bottom: 25px;

    div.topContainer {
      justify-content: center;
    }

    p.or {
      padding: 0px;
      margin-top: -10px;
    }

    div.otherContainer {
      p {
        margin-left: 25px;
      }
    }
  }
}

@keyframes fullView {
  100% {
    opacity: 100%;
  }
}
