<div class="bar">
  <form [formGroup]="query" (ngSubmit)="onSubmit()">
    <div class="query">
      <mat-form-field floatLabel="never">
        <input
          matInput
          type="text"
          formControlName="word"
          placeholder="Enter word here..."
        />
        <mat-error *ngIf="query.controls.word.errors" class="error">
          <span *ngIf="query.controls.word.errors.pattern"
            >Must be one alphabetical word</span
          >
          <span *ngIf="query.controls.word.errors.maxlength"
            >Word is more than 20 characters</span
          >
        </mat-error>
      </mat-form-field>
      <div class="spacer"></div>
      <mat-form-field>
        <mat-select formControlName="data">
          <mat-option value="quotes">Famous Quotes</mat-option>
          <mat-option value="shakespeare">Shakespeare Plays</mat-option>
          <mat-option value="state_union"
            >State of the Union Speeches</mat-option
          >
          <mat-option value="inaugural">Inaugural Addresses</mat-option>
          <mat-option value="bible">The Bible</mat-option>
          <mat-option value="all">All of the Above</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="search" type="submit">
      <button mat-fab>
        <mat-icon
          [ngStyle]="{
            color: '#eeeeee',
            'font-size': '36px'
          }"
          [inline]="true"
          >search</mat-icon
        >
      </button>
    </div>
  </form>
</div>
